rallyrobopilot/__pycache__/
.venv/
venv/
data/
scripts/model/models/
preprocessed/
checkpoints/
.vscode/
scripts/__pycache__/
scripts/model/__pycache__/
venv/*
venv/bin/activate
scripts/GA_results/*
*.out
rally_headless.tar
logs/
__pycache__/
GA/telemetry/
GA/results/
*.png
